<p id="notice"><%= notice %></p>

<h1>Listing Says</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @says.each do |say| %>
      <tr>
        <td><%= say.body %></td>
        <td><%= link_to 'Show', say %></td>
        <td><%= link_to 'Edit', edit_say_path(say) %></td>
        <td><%= link_to 'Destroy', say, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Say', new_say_path %>
